<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adventurer-punch-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventurer-punch-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{50,0},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventurer-punch-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{100,0},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventurer-punch-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{150,0},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack_punch0-3.png</string>
            <key>size</key>
            <string>{200,37}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fc160586b97abeb398abb1f8341d1e7:3ab3ed2105e02e74bdf1474c1ec936c1:cfeeccc4a197e52d4cb7f1619c265230$</string>
            <key>textureFileName</key>
            <string>attack_punch0-3.png</string>
        </dict>
    </dict>
</plist>
