<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adventurer-jump-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventurer-jump-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{50,0},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventurer-jump-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{100,0},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventurer-jump-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{150,0},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jump.png</string>
            <key>size</key>
            <string>{200,37}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a335423d32d8257881e7b67245cfae2:f7a372b01baf85472b0567e59d65175b:a26cea5c62334af524c8ee621cbafbc7$</string>
            <key>textureFileName</key>
            <string>jump.png</string>
        </dict>
    </dict>
</plist>
